/*font-family: 'Montserrat', sans-serif;*/
body{
	margin:0 auto;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

video{
	width: 100%;
	position: absolute; /* Para poder posicionarlo*/
	top: 0;
	z-index: -1; /* Le proporciona un menor valor en el orden de aparición */
}

.cont-menu{
	width:100%;
	height: 80px;
	position: fixed; /* Un menú que se mantenga en pantalla */
	z-index: 1000; /* Que se posicione sobre todos los otros elementos*/
	top: 0; /* Se mantenga en la parte superior*/
	align-items: center; /* Toda la línea del nav queda en la parte superior*/
	justify-content: space-between;/* Llevamos los dos elementos a los extremos*/
	flex-wrap: nowrap;
	
}

.menu{
	width:30%;
	height: 40%;
	justify-content: space-around; /* Separamos cada elemento que contiene el div class menu*/
	align-items: center;
	padding-right: 10%;
}

.cont-logo{   /* Le damos al logo un espacio determinado en el cual moverse */
	width: 20%;
	justify-content: center; /* Lo centramos dentro de este espacio */
}

.logo{
	width:60px;
	height: 40px;
}

.letra{
	text-decoration:none;
	color: white;
}

nav div div a:hover{ /* Cambios al posicionarse sobre a */
	color: #FF00BF; /* Color de letra distinto para insinuar que se puede presionar */
}

.boton-login{
	border: 1px solid white;
	border-radius: 5px;
	padding:15%;
}
 
/* nav 2 */

.boton-signup{
	border: 1px solid #FF00BF;
	border-radius: 5px;
	padding:15%;
	color: #FF00BF;
}

.display-boton{
	display: none;
}

.nav2{
	position:fixed;
	height: 80px; /* Ponemos los mismos datos que nuestro anterior nav (cont-menu) */
	width: 100%;
	z-index: 1000;
	top: 0; 
	align-items: center; 
	justify-content: space-between;
	background-color: white; 
}

.letra2{ /* Estilo de letra  nav 2*/
	text-decoration:none;
	color: #333447;
}





